*{
	margin:0;
	padding: 0;
}

.listContainer{
	border: 1px solid rgba(74, 120, 218, 1);
	padding: 5px;
}

.colTitle{
	background-color: rgba(74, 120, 218, 1);
	width: 6em;
	text-align: center;
	color: white;
}

li{
	list-style: none;
}

.favoriteItem a{
	color: black;
}

.favoriteList table{
	width: 100%;
	border-bottom: 1px solid rgb(105,150,255);
}

.favoriteList table tr td:first-child{
	width: 87%;
}
.favoriteList table tr td{
	padding: 0.5em 0;
}
.listContainer .pull-right{
	padding-right: 10px;
}

.glyphicon{
	color: rgb(105,150,255);
}
.glyphicon:hover{
	color: rgba(74, 120, 218, 1);
}

.edit{
	border: 1px solid rgb(105,150,255);
	
}

.websiteFav{
	margin-top: 4em;
}



/*
info.html

 */

.taskDetail,.displayDetail{
	border: 1px solid grey;
	border-radius: 10px;
	
}

.taskDetail>p,.displayDetail>p{
	border: 0px solid grey;
	border-radius: 10px 10px 0 0;
	background: lightgrey;
	padding: 1em;

}



.taskDetail a p{
	padding:0 1em;
}

.taskDetail a{
	color: black;
}

.basicInfo table,.detailTitle table{
	width: 100%;
}

.basicInfo table tr td{
	height: 2em;
}

.detailTitle>p{
	color: orange;
	border-left: 2px solid orange; 
	padding-left: 5px;
}

.detailTitle{
	border-top: 1px solid grey;
	padding-top: 1em;
}

.basicInfo table,.detailTitle{
	margin: 1em;
}

.greyBg{
	background: lightgrey;
	padding: 1em;
}

#runningInfoDetail{
	display: none;
}

.detailImg{
	width: 1.5em;
	margin-right: 0.5em;
}