*{
	margin:0;
	padding: 0;
}

.listContainer{
	border: 1px solid rgba(74, 120, 218, 1);
	padding: 5px;
}

.colTitle{
	background-color: rgba(74, 120, 218, 1);
	width: 6em;
	text-align: center;
	color: white;
}

li{
	list-style: none;
}

.favoriteList table{
	width: 100%;
	border-bottom: 1px solid rgb(105,150,255);
}

.favoriteList table tr td:first-child{
	width: 87%;
}
.favoriteList table tr td{
	padding: 0.5em 0;
}
.listContainer .pull-right{
	padding-right: 10px;
}

.glyphicon{
	color: rgb(105,150,255);
}
.glyphicon:hover{
	color: rgba(74, 120, 218, 1);
}

.edit{
	border: 1px solid rgb(105,150,255);
	
}