body{
	background-color: rgb(228,228,228);
	color: rgb(90,90,90);
}

#registerContainer{
	display: none;
}

.container{
	width: 35%;
	margin: 0 auto;
	background-color: white;
	padding: 0.5em 0;
	margin-top: 3em;
}
.loginForm{
	padding:0 2em;
}

.title{
	color: rgba(74,120,218,1);
	text-align: center;
}
.title span{
	color: rgb(228,228,228);
}
#userName,#password,#email,#passwordAgain{
	height: 1.5em;
	width: 100%;
	border: 2px solid rgb(228,228,228);
	
}
#rememberMe{
	vertical-align: middle;
}
input[type='submit']{
	background-color: rgba(74,120,218,1);
	color: white;
	border: none;
	padding: 0.4em 0.6em;
}
input[type='submit']:hover{
	background-color: rgba(0,127,186,1);;
}
hr{
	border:0;
	background-color:rgb(228,228,228);
	height:1px;
}

.bottomInfo{
	text-align: center;
	text-decoration: none;
	padding-bottom: 0.5em;
}
.bottomInfo a{
	text-decoration: none;
	color: rgba(74,120,218,1);
	font-weight:bolder;
}
.bottomInfo a:hover{
	color:rgba(0,127,186,1);
}